body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 1930px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	/* margin: 0px; */
}

img {
	max-width: 100%;
	max-height: 100%;

}

a {
	text-decoration: none;
	outline: none;
	color: #000;
	font-size:16px;

}

ul {
	list-style: none;
	display: flex;
	align-items: center;

}

hr {
	margin: 0;
}

.left {
	margin-left: auto;
}

.right {
	margin-right: auto;
}

#top {
	width: 1200px;
	display: flex;
	flex-direction: column;


}


.ft {
	display: flex;
	justify-content: space-between;
	margin-bottom: 44px;
}

.st {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 35px;
}

.st>ul>li+li {
	margin-left: 54px;
}

#stl {
	margin: 0;
	padding: 0;
}

#str {
	margin: 0;
	padding: 0;
	align-items: center;
	margin-right: 54px;
}

#str>ul>li {
	display: flex;
	justify-content: center;
}

#top1 {
	display: flex;
	align-items: center;
}

#top2 {
	display: flex;
}

#top2>li>a::after {
	content: "|";
	margin: 0 25px;
}

#top2>li:last-child>a::after {
	content: inherit;
}

#logo {

	width: 240px;
	height: 80px;
}

.mid {
	width: 100%;

}

.m-img {

	max-width: 1930px;
	margin-bottom: 45px;
}

.rights {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 50px;
}

.ent {
	display: flex;
	white-space: nowrap;
}

.ent+.ent {
	margin-left: 260px;
}

.ent-info {
	display: flex;
	flex-direction: column;

	margin-left: 20px;
}

.lag {
	font-size: 24px;
}

.sma {
	color: #a9abb1;
	font-size: 14px;
}


.curations {

	display: flex;
	justify-content: center;

}

.cur {
	flex: 1;
	display: flex;
	flex-direction: column;


}

.cur+.cur {
	margin-left: 24px;
}

.product {
	display: flex;
	justify-content: center;
	width: 588px;

}

.pro-top {
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin-top: 90px;
	margin-bottom: 58px;
	color: #49494a;
}

.pro-top>p {
	font-size: 28px;
	font-weight: 540;

}

.pro-top>span {
	font-size: 15px;
	margin-top: 40px;
	max-width: 424px;
}

.pro-logo {
	width: 320px;
}

.pro-mid {
	display: flex;
	flex-direction: column;
}

.pro-mid+.pro-mid {
	margin-left: 24px;
}

.pro-mid-info {
	/* margin-left: 18px; */
	display: flex;
	justify-content: space-between;

}

.pro-mid-info>img {
	width: 68px;
	height: 11px;
}

.price {
	display: flex;
	color: #c28548;
}

.price::before {
	content: "￥ ";

}

.pri-del {
	/* margin-left: 15px; */
	color: #858484;
	text-decoration: line-through;
}

.other-imgs {
	display: flex;
	justify-content: center;
	flex: 1;
	margin-top: 68px;
}

.other-img {
	display: flex;
	flex-direction: column;

}

.other-img>img+img {
	margin-top: 30px;
}

.other-imgs>div+div {
	margin-left: 24px;
}

.overlay {
	display: flex;
	position: absolute;
	/* 使用绝对定位 */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff97;
	color: rgb(0, 0, 0);
	width: 149px;
	height: 43px;
	align-items: center;
	justify-content: center;
	z-index: 1;
	/* 层叠顺序 */
}

.overlay span {
	font-size: 16px;
}
.image-container {
	position: relative; /* 容器使用相对定位 */
	display: inline-block; 
  }
.other-list {
	display: flex;
	justify-content: center;
	flex: 1;
	margin-top: 50px;
	margin-bottom: 70px;
}
.list-pro{
	display: flex;
	justify-content: flex-start;
	width: 384px;
	flex-direction: column;
}
.list-pro+.list-pro{
	margin-left: 24px;
}
.list-pro-title{
	font-size: 28px;
	color: #595959;
	font-weight: 545;
	margin-bottom: 16px;
}
.list-pro-act{
	display: flex;
	width: 384px;
	flex-direction: column;
	
}

.list-pro-act-item{
	display: flex;
	margin-top: 21px;
	
}
.list-pro-act-item img {
	margin-right: 24px; 
}
.list-pro-act-item-info{
	margin-top: 12px;
	display: flex;
	flex-direction: column;
}
.list-pro-act-item-info > img{
	width: 68px;
	height: 11px;
}
.list-pro-act-item-info > span + img{
	margin-top: 25px;
}
.list-pro-act-item-info> img + .price{
	margin-top: 21px;
}
.list-pro-act-item-info> .price .pri-del{
	margin-left: 18px;
}
.mid-last{
	display: flex;
	justify-content: center;
	flex:1;
	margin-bottom: 80px;
}

#feedback{
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: #ffffff;
 width: 486px;
 height: 319px;
 margin-left: 24px;
 border: #000 1px solid;
}

.feedback-title{
	font-size: 24px;
	color: #2f2f2f;
	font-weight: 545;
	margin-bottom: 20px;
	margin-top: 40px;
}
.feedback-sma-title{
	font-size: 13px;
	color: #919191;
	margin-top: 48px;
	margin-bottom: 33px;
	width: 410px;
}

.footer{
	display: flex;
	justify-content: center;
	flex:1;
	background: #2f2f2f;
	width: 100%;
	min-height: 320px;
}

.footer-list{
	display: flex;
    flex-direction: column;
    align-items: flex-start; /* 左对齐 */
    padding: 0;
	margin-top: 45px;
	width: 306px;
}

.footer-list dt {
	color: #c38749;
	font-size: 20px;
    /* font-weight: bold; */
    margin-bottom: 32px; 
}

.footer-list dd {
    margin-left: 0; /* 左对齐 */
    margin-bottom: 16px; 
}
.footer-list a {
    color: white;
    text-decoration: none;
}
